:root{
    --color-white:#ffffff;
    --text-color: #434455;
    --logo-brand: #4d5ae5;
    --presses-state: #404bbf;
    --dark: #2e2f42;
    --success: #31d0aa;
    --subtle-text: #8e8f99;
    --accent: #e7e9fc;
    --light: #f4f4fd;
    --modal-overlay: #2e2f42;
    --hero-bgr: #2e2f42;

}
body{
    font-family: 'Roboto',sans-serif;
    background-color: var(--color-white);
    color: var(--text-color)
}

/* --------------HEADER---------------- */
.logo{
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-brand);
    text-transform: uppercase;
}
.logo-color{
    color: var(--dark);
}
.link{
    text-decoration: none;
}
.list{
    list-style:none;
}
.text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.title{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark);
}
.second-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.nav-link:hover,
.nav-link:focus {
    color: var(--presses-state);
}
.header-address{
    font-style: normal;
}
.address-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
}
.address-link:hover,
.address-link:focus {
    color: var(--presses-state);
}
/* ---------------- HERO----------------*/
.hero {
    background-color:var(--hero-bgr); ;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-white);
}
.hero-btn {
    background: var(--logo-brand);
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--color-white);
}
.hero-btn:hover,
.hero-btn: :focus{
    background: var(--presses-state);
}
/* -------------------FEATURE PROMO--------------- 
/* --------------------WETODO---------------------- */
/* --------------------OUR TEAM---------------------- */
.team{
    background-color: var(--light);
}
.team-item{
    background-color: var(--color-white);
}
.team-second-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
/* --------------------WORK EXAMPLES---------------------- */
.work-btn {
    background-color: var(--light);
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--logo-brand);
}
.work-btn:hover,
.work-btn:focus{
    background-color: var(--presses-state);
    color: var(--color-white);
}
/* --------------------FOOTER---------------------- */
footer{
    background-color: var(--modal-overlay);
}
.logo-footer{
    color: var(--light);
}
.footer-text{
    color: var(--accent);
}











